@use "variables";
$pillWidth: 300px;
$pillFontSize: 18px;

@mixin pill($theWidth, $fontSize) {
  background-color: variables.$primary-color;
  width: $theWidth;
  font-size: $fontSize;
  text-align: center;
  margin: 1rem;
}

body {
  margin: 0;
  background-color: variables.$myNavyBlue;
  color: variables.$blueGrayish;
}

.container {
  border: 2px solid variables.$blueGrayish;
  margin: 3rem;

  .myBtn {
    @extend %my-button;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 5rem;
    li {
      list-style: inside lower-roman;
    }
  }
}

.card {
  @extend %my-card;
}

.pillTag {
  @include pill($pillWidth, $pillFontSize);
}
