* {
  font-family: 'Lora';
  margin: 0;
  padding: 0;
}
body{
  background: url(./image\ \(2\).png) center no-repeat;
  background-size: cover;

}
nav {
  display: flex;
  background-color: white;
  margin: 0 2rem;
  border-radius: 0 0 10px 10px;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  background-color: white;
}

li {
  list-style: none;
  padding: 0.5rem 2rem;
  background-color: white;
}

#logo {
  background-color: whitesmoke;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin-left: 1rem;
  font-size: 32px;
  color: black;
  text-align: center;
  padding: 1rem;
}

#login{
border: black 1px solid;
border-radius: 50px;
margin-right: 0.5rem;
}

#contentArea{
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
}

/* #phone{
  background-color: gray;
  border: black 5px solid;
  border-radius: 10px;
  height: 400px;
  width: 200px;
} */

#your{
  text-decoration: underline 5px orange;
}

#textArea{
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 5rem;
  color: white;
}

#textArea h3{
  padding-bottom: 1rem;
}

#textArea h1{
  padding-bottom: 1rem;
  font-size: 75px;
}

button{
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 1rem 4rem;
  margin-left: 1rem;
}