* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

.row {
  height: 100vh;
}

.row > * {
  padding: 0;
}

nav {
  background-color: #81a4cd;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0.2rem 1rem;
}

.container-fluid {
  width: 100vw;
  margin: 0.2rem;
}

.col-3 {
  padding: 1rem 2rem;
}

.input-area {
  display: flex;
  justify-content: space-between;
}

#add-list-btn {
  border: 3px solid #f17300;
  border-radius: 5px;
  height: 40px;
  line-height: normal;
  color: #282828;
  display: block;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  margin: 0.75rem 0.5rem;
}

#add-task-btn {
  border: 3px solid #f17300;
  border-radius: 5px;
  height: 40px;
  line-height: normal;
  color: #282828;
  display: block;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  margin: 0 0.5rem;
}

#add-list-btn {
  width: 100px;
}

#listsInput,
#taskInput {
  border: 3px solid #f17300;
  border-radius: 5px;
  height: 40px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 70%;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  margin: 0.75rem 0.5rem;
}

#taskInput {
  margin: 0;
}

#listsInput:focus {
  border: 5px solid #f17300;
}

.list-group {
  margin: 0.25rem 0.5rem;
}

.list-group1 .list-group-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  border: solid 2px #81a4cd;
  margin: 0.2rem 0;
  list-style: none;
  border-radius: 5px;
}

.col-8 {
  border: double 5px #054a91;
  border-radius: 5px;
  padding: 1rem 2rem;
}

#tasksList {
  list-style: none;
}

#tasksList li {
  border-bottom: double 2px #054a91;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
}

.add-todo-area {
  display: flex;
}

.deleteIcon {
  border: none;
  background-color: inherit;
}

.activeItem,
.activeItem .fa-trash-can {
  background-color: #f17400;
  color: white;
}
