*{
  margin: 0;
  padding: 0;
  font-family: 'Abel';
}

#course-select {
  padding: 0.5rem;
  text-align: left;
  font-size: 16px;
  margin: 1rem;
}




li:hover {
  cursor: pointer;
}

#options-container {
  background-color: rgb(195, 195, 195);
  height: 100px;
}

#scorecard-container {
  background-color: rgb(153, 153, 153);
  height: 100px;
}
