@use "../variables";
@use "button";

%long-card {
  background-color: white;
  box-shadow: variables.$shadowCard;
  height: 1010px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: variables.$cardRadius;
  margin: variables.$margin;
  .menuItems {
    padding-top: variables.$padding;
  }
  .leftRow {
    display: flex;
    align-items: center;
    padding: 0.1rem 0;
    margin-left: variables.$margin;
  }
  img {
    align-self: center;
    padding-top: variables.$padding;
  }
  i {
    color: gray;
  }
  h6 {
    padding: variables.$margin;
    font-size: variables.$body;
    color: gray;
  }
  .active {
    background-color: variables.$highlight;
    margin: 0;
    padding-left: variables.$margin;
    width: 100%;
    i {
      color: variables.$accentOrange;
    }
    h6 {
      color: variables.$accentOrange;
    }
  }
}

%square-card1 {
  background-color: white;
  box-shadow: variables.$shadowCard;
  margin: variables.$margin 0;
  padding: variables.$padding;
  border-radius: variables.$cardRadius;
  max-width: 100%;
  #heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
      display: flex;
      align-items: center;
      .headingText {
        padding-left: variables.$padding;
        p {
          font-size: 14px;
          color: gray;
          font-weight: 600;
          margin-top: -0.25rem;
        }
      }
    }
    i {
      height: 40px;
      width: 40px;
      font-size: 20px;
      text-align: center;
    }
    .fa-star::before {
      color: variables.$star;
      border: 1px lightgray solid;
      border-radius: 50%;
      margin: 0 auto;
      padding: 0.3rem;
    }
    img {
      padding: 0.3rem;
      background-color: variables.$highlight;
      width: 40px;
      height: 40px;
      border-radius: variables.$cardRadius;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
    .filled {
      @include button.filled-button;
      color: gray;
    }
    .regularBtn {
      @include button.active-button;
      border-color: variables.$accentOrange;
      color: variables.$accentOrange;
    }
  }
  h4 {
    color: gray;
    font-size: variables.$sectionTitle;
    span {
      color: black;
    }
  }
  progress {
    width: 100%;
  }
  .buttons2 {
    margin: 1rem 0;

    .filled {
      @include button.filled-button;
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
    }
    .ios {
      background-color: variables.$btnGreen;
      color: variables.$checkGreen;
    }
    .ux {
      background-color: variables.$btnBlue;
      color: variables.$blue;
    }
  }
  .dueDate {
    @include button.filled-button;
    background-color: variables.$highlight;
    color: variables.$primaryOrange;
  }
}

%square-card2 {
  background-color: white;
  box-shadow: variables.$shadowCard;
  margin: variables.$margin 0;
  padding: variables.$padding;
  border-radius: variables.$cardRadius;
  max-width: 100%;
  #heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
      display: flex;
      align-items: center;
      .headingText {
        padding-left: variables.$padding;
        p {
          font-size: 14px;
          color: gray;
          font-weight: 600;
          margin-top: -0.25rem;
        }
      }
    }
    i {
      height: 40px;
      width: 40px;
      font-size: 20px;
      text-align: center;
    }
    .fa-star::before {
      color: variables.$star;
      border: 1px lightgray solid;
      border-radius: 50%;
      margin: 0 auto;
      padding: 0.3rem;
    }
    img {
      padding: 0.3rem;
      background-color: variables.$highlight;
      width: 40px;
      height: 40px;
      border-radius: variables.$cardRadius;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
    .filled {
      @include button.filled-button;
      color: variables.$checkGreen;
      background-color: variables.$btnGreen;
    }
    .regularBtn {
      @include button.active-button;
      border-color: variables.$checkGreen;
      color: variables.$checkGreen;
    }
  }
  h4 {
    color: gray;
    font-size: variables.$sectionTitle;
    span {
      color: black;
    }
  }
  progress {
    width: 100%;
  }
  .buttons2 {
    margin: 1rem 0;

    .filled {
      @include button.filled-button;
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
    }
    .ios {
      background-color: variables.$btnGreen;
      color: variables.$checkGreen;
    }
    .ux {
      background-color: variables.$btnYellow;
      color: variables.$star;
    }
  }
  .dueDate {
    @include button.filled-button;
    background-color: variables.$highlight;
    color: variables.$primaryOrange;
  }
}

%square-card3 {
  background-color: white;
  box-shadow: variables.$shadowCard;
  margin: variables.$margin 0;
  padding: variables.$padding;
  border-radius: variables.$cardRadius;
  max-width: 100%;
  .heading {
    display: flex;
    align-items: center;
    h2 {
      padding-right: variables.$padding;
    }
    p {
      color: gray;
    }
  }
  .row {
    display: flex;
    padding: variables.$padding 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    width: 100%;
    justify-content: space-between;
    .number-name {
      display: flex;

      .number {
        padding-right: variables.$padding;
        font-size: variables.$body;
        color: gray;
        align-self: center;
      }
      .taskName {
        display: flex;
        justify-self: flex-start;
        text-align: start;
        font-size: variables.$body;
        color: gray;
        align-self: center;
        font-size: 16px;
      }
    }
    .comment-branch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: gray;
      }
      .fa-comment,
      .fa-code-branch {
        padding: 0 0.5rem;
        color: gray;
      }
      .branch {
        display: flex;
        padding-left: variables.$padding;
      }
    }
    .fa-circle-check {
      display: flex;
      justify-self: flex-end;
      align-self: center;
      color: gray;
      font-size: 20px;
    }
    .fill {
      color: variables.$checkGreen;
    }
  }
}

%square-card4 {
  background-color: white;
  box-shadow: variables.$shadowCard;
  margin: variables.$margin 0;
  padding: variables.$padding;
  border-radius: variables.$cardRadius;
  max-width: 100%;
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: variables.$padding variables.$padding variables.$padding 0;

    .fa-play::before {
      color: gray;
      border: 1px solid gray;
      padding: 0.5rem 0.7rem;
      border-radius: variables.$buttonRadius;
    }
  }
  .firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color: variables.$highlight;
    .task-watch {
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        color: variables.$accentOrange;
      }
      h5 {
        font-size: variables.$body;
        padding: 0 variables.$padding;
      }
    }
    .time-icons {
      display: flex;
      align-items: center;
      .fa-pause::before {
        color: white;
        border: 1px solid gray;
        padding: 0.5rem 0.7rem;
        border-radius: variables.$buttonRadius;
        background-color: variables.$accentOrange;
        border: none;
        margin: 0 variables.$padding;
      }
      .fa-ellipsis-vertical {
        color: gray;
        font-size: 18px;
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    .task-watch {
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        color: gray;
      }
      h5 {
        font-size: variables.$body;
        padding: 0 variables.$padding;
      }
    }
    .time-icons {
      display: flex;
      align-items: center;
      .fa-pause::before {
        color: gray;
        border: 1px solid gray;
        padding: 0.5rem 0.7rem;
        border-radius: variables.$buttonRadius;
        margin: 0 variables.$padding;
      }
      .fa-ellipsis-vertical {
        color: gray;
        font-size: 18px;
      }
    }
  }
}

%square-card6 {
  background-color: white;
  box-shadow: variables.$shadowCard;
  margin: variables.$margin 0;
  padding: variables.$padding;
  border-radius: variables.$cardRadius;
  width: 500px;
  .personRow {
    display: flex;
    align-items: center;
    margin: variables.$padding 0;
    .person1 {
      border: 2px solid #c26f2d;
    }
    .person2 {
      border: 2px solid #1a6998;
    }
    .person3 {
      border: 2px solid #004954;
    }
    .person4 {
      border: 2px solid #212d2b;
    }

    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      padding: 0.2rem;
    }
    .text {
      padding-left: variables.$padding;

      h4 {
        font-size: 18px;
      }
      p {
        color: gray;
      }
    }
  }
}
