* {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
}

body {
  background-color: #dcd7cd;
}

.container {
  background-color: #f7f6f4;
  display: flex;
  margin: 13px;
  border-radius: 15px;
}
.container .left {
  background-color: white;
  height: 90vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 15px;
  margin: 13px;
}
.container .left .menuItems {
  padding-top: 18px;
}
.container .left .leftRow {
  display: flex;
  align-items: center;
  padding: 0.1rem 0;
  margin-left: 13px;
}
.container .left img {
  align-self: center;
  padding-top: 18px;
}
.container .left i {
  color: gray;
}
.container .left h6 {
  padding: 13px;
  font-size: 12px;
  color: gray;
}
.container .left .active {
  background-color: #fff2ec;
  margin: 0;
  padding: 0 13px;
  width: 124px;
}
.container .left .active i {
  color: #fd7b38;
}
.container .left .active h6 {
  color: #fd7b38;
}
.container .right {
  width: 100vw;
  margin: 13px;
}
.container .right .searchBarDiv {
  background-color: white;
  height: 50px;
  width: 87vw;
  margin-bottom: 13px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .right .searchBarDiv input {
  border: none;
  background-color: rgb(243, 243, 243);
  padding: 0.4rem;
  margin: 13px;
  border-radius: 20px;
}
.container .right .searchBarDiv .leftAreaSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gray;
}
.container .right .searchBarDiv .leftAreaSearch img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(./images/person1.jpg) no-repeat;
  background-size: cover;
  padding: 18px;
}
.container .right .cards {
  display: flex;
  justify-content: space-around;
}
.container .right .cards .cards1 img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}