* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  flex-wrap: wrap;
}

nav {
  background-color: #f1a536;
  display: flex;
  justify-content: space-between;
}

nav img {
  padding-left: 5rem;
}

#navOptions {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

nav ul {
  margin-right: 5rem;
}

nav li {
  list-style: none;
  padding: 2rem;
  font-size: 20px;
  font-weight: 600;
}

#heroImg {
  height: 700px;
  background: url(../images/hero-image.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 20%;
}
#heroImgRecipe {
  height: 700px;
  background: url(../images/bengal-burger.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 20%;
}

#heroImgRecipe h1, #heroImg h1 {
  background-color: white;
  width: max-content;
  padding: 0.5rem 2rem;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  left: 32%;
  top: 72%;
}

/* #categories,
#whereToEat {
  margin: 5rem;
} */

#healthyRecipes {
  background-color: #dadfea;
  width: 100vw;
  /* padding: 5rem 0 5rem 5rem; */
  margin-right: 5rem;
}

#categories h2,
#healthyRecipes h2,
#whereToEat h2 {
  margin-bottom: 1rem;
  font-size: 32px;
  width: fit-content;
  padding: 5rem 0 0 5rem;
}

#categories p,
#healthyRecipes p,
#whereToEat p {
  font-size: 20px;
  width: fit-content;
  padding: 0 5rem;
}

#categoriesGallery,
#whereToEatGallery {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

#healthyRecipesGallery {
  display: flex;
  padding: 0 5rem;
  justify-content: space-between;
}

#categoriesGallery img,
#whereToEatGallery img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  margin-top: 2rem;
}

#healthyRecipesGallery img {
  width: 375px;
  height: 300px;
  object-fit: cover;
  margin-top: 2rem;
}

#whereToEatGallery img {
  border: 10px solid #dadfea;
}

#categoriesGallery figcaption,
#healthyRecipesGallery figcaption,
#whereToEatGallery figcaption {
  margin: 0 1rem 4rem;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  background-color: white;
}

#healthyRecipesGallery figcaption {
  padding: 0.5rem 2rem;
  margin: 0 0 4rem;
}

.fajita,
.muffins,
.eggplant,
.chicken {
  display: flex;
  flex-direction: column;
}

/* FIXME: gallery in healty recipes */

footer {
  background-color: #f1a536;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

footer ul {
  display: flex;
}

footer li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

/* RECIPE */

.recipeInfoTime {
  padding: 2rem 5rem;
  background-color: #dadfea;
}

.recipeInfoTime div {
  padding: 1rem 0;
  display: flex;
  flex-flow: column wrap;
  max-height: 75px;
}

.recipeInfoTime span {
  font-weight: bold;
}

.recipeInfoTime p {
  padding-bottom: 0.5rem;
}

#recipeTitle h1 {
  text-align: center;
  padding-top: 3rem;
}

.stars {
  color: #a63223;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars p {
  color: black;
  padding-left: 0.5rem;
}

.button {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}

.button button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  background-color: #a63223;
  color: white;
}

.button i {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 0.5rem;
}

.quote {
  text-align: center;
  background-color: #f6f9ff;
  margin: 3rem 5rem;
  padding: 3rem;
  color: rgb(97, 97, 97);
  font-size: 20px;
}

.recipeBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem 5rem;
}

.recipeBody h3{
  font-size: 24px;
  font-weight: 700;
}

.ingredients,
.directions {
  max-width: 500px;
}

.ingredients ul,
.directions ol {
  padding: 1rem;
}

ol li{
  padding-bottom: 1rem;
}

#spiceMix{
  padding-top: 0.2rem;
}

/* FIXME:spacing(margin) */