*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

nav{
  background-color: #F1A536;
  display: flex;
  justify-content: space-between;
}

nav img{
  margin-left: 3rem;
}

#navOptions{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
  padding: 2rem 3rem;
  font-size: 16px;
  font-weight: 600;
}

#heroImg{
  width: 100vw;
  height: 550px;
  background: url(../images/hero-image.jpg) no-repeat;
  background-size: cover; 
}

#heroImg h1{
  background-color: white;
  text-align: center;
}