$backBg: #dcd7cd;
$frontBg: #f7f6f4;
$highlight: #fff2ec;
$star: #ffa600;
$primaryOrange: #e79800;
$accentOrange: #fd7b38;
$blue: #515aac;
$pink: #e257b3;
$checkGreen: #63b25b;
$btnGreen: #e5f3e3;

$cardRadius: 15px;
$buttonRadius: 4px;
$margin: 13px;
$padding: 18px;
$font: "Almarai", sans-serif;
$body: 12px;
$sectionTitle: 18px;
$shadowCard: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
