@use "variables";
@use "card";
@use "button";

* {
  margin: 0;
  padding: 0;
  font-family: variables.$font;
}

body {
  background-color: variables.$backBg;
}

.container {
  background-color: variables.$frontBg;
  display: flex;
  margin: variables.$margin;
  border-radius: variables.$cardRadius;
  .left {
    @extend %long-card;
  }
  .right {
    width: 100vw;
    margin: variables.$margin;
    .searchBarDiv {
      @extend %search-bar;
    }
    .cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      .card1 {
        @extend %square-card1;
      }
      .card2{
        @extend %square-card2;
      }
    }
  }
}
