@use "./variables";
@use "./components/card";
@use "./components/button";
@use "./components/searchBar";

* {
  margin: 0;
  padding: 0;
  font-family: variables.$font;
}

body {
  background-color: variables.$backBg;
}

.container {
  background-color: variables.$frontBg;
  display: flex;
  margin: variables.$margin;
  border-radius: variables.$cardRadius;
  .left {
    @extend %long-card;
  }
  .right {
    width: 100vw;
    margin: variables.$margin;
    .searchBarDiv {
      @extend %search-bar;
    }
    .cards {
      display: flex;
      .cards1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 500px;
        margin-right: variables.$margin;
        .card1 {
          @extend %square-card1;
        }
        .card2 {
          @extend %square-card2;
        }
      }
      .cards2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 500px;
        margin-right: variables.$margin;
        .card3 {
          @extend %square-card3;
        }
        .card4 {
          @extend %square-card4;

          .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: variables.$padding variables.$padding variables.$padding 0;

            .fa-play::before,
            .fa-pause::before {
              color: gray;
              border: 1px solid gray;
              padding: 0.5rem;
              border-radius: variables.$buttonRadius;
            }
          }
          .firstRow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: variables.$padding 0;
            background-color: variables.$highlight;
            div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              i {
                padding: 0 variables.$padding;
              }
            }
          }
        }
      }
      .cards3{
        .cards2 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 500px;
          margin-right: variables.$margin;}
      }
    }
  }
}
