* {
  margin: 0;
  padding: 0;
}

.board {
  display: flex;
  justify-content: center;
}

.single {
  width: 3rem;
  height: 3rem;
}

row:nth-child(odd) > .single:nth-child(odd) {
  background-color: whitesmoke;
}
row:nth-child(odd) > .single:nth-child(even) {
  background-color: black;
}
row:nth-child(even) > .single:nth-child(odd) {
  background-color: black;
}
row:nth-child(even) > .single:nth-child(even) {
  background-color: whitesmoke;
}
